// Base
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
body{
    color: $color-fg;
}
img{
    max-width: 100%;
    display: block;
}
h1,h2,h3,h4,h5,h6{
    margin: .5rem 0;
}
a{
    text-decoration: none;
    color: $color-fg;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    line-height: 2;
}
strong{
    color: $color-title;
    font-weight: $weight-bold;
}