// Feed
.feed__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    ul{
        display: flex;
        li{
            margin-left: 1rem;
            cursor: pointer;
            &:hover{
            color: $color-accent;
        }
        }
    }
}
.feed__title{
    margin: 0;
}
.feed__gallery{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    grid-gap: 2rem;
}
.feed__image{
    border-radius: .5rem;
}
.feed__box{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 10%;
        width: 80%;
        height: 50px;
        background-color: rgba(0,0,0,0.3);
        border-radius: 50%;
        z-index: -1;
        filter: blur(10px);
    }
}
