
// Follow
.follow__perfil{
    margin-bottom: 5rem;
}
.follow__img{
    width: 35%;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid $color-accent;
    padding: .3rem;
}
.follow__date{
    text-align: center;
}
.follow__activity{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
// Menu nav
.menu-nav{
    li{
        margin-top: 2rem;
        i{
            padding-right: 1rem;
        }
    }
    a:hover{
        color: $color-accent;
    }
}