// Menu
.menu{
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
}
.menu__search{
    display: flex;
    align-items: center;
}
.menu__form{
    position: relative;
    input{
        border: none;
        border: 1px solid $color-fg;
        padding: .5rem 2rem;
        border-radius: .3rem;
        color: $color-fg;
    }
    .icon,.icon-dos{
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 0 0 0 .5rem;
    }
    .icon-dos{
        right: 0;
        padding: 0 .5rem 0 0;
        cursor: pointer;
    }
}
.menu__notification{
    display: flex;
    align-items: center;
    div{
        margin-left: 2rem;
    }
    .fi-email,.fi-heart-alt{
        font-size: 1.5rem;
    }
}
.menu__post{
    background-color: $color-accent;
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-weight: normal;
    i{
        margin-right: .5rem;
        color: inherit;
    }
}
.menu__perfil{
    img{
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
    }
}