// Perfil
.perfil{
    div{
        margin-bottom: 2rem;
        &:last-child{
            margin: 0;
        }
    }
    
}
.perfil__activity{
    display: flex;
    p{
        margin-right: 1rem;
        &:last-child{
            margin: 0;
        }
    }
    strong{
        margin-right: .3rem;
    }
}
.perfil__img{
    border-radius: .5rem;
}