// Stories
.stories__title{
    margin: 0;
    margin-bottom: 1.5rem;
}
.stories__gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 2.5rem;
}
.stories__image{
    border-radius: .5rem;
}
.stories__box{
    position: relative;
    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 12%;
        width: 80%;
        height: 50px;
        background-color: rgba(0,0,0,0.3);
        border-radius: 50%;
        z-index: -1;
        filter: blur(10px);
    }
    
}

