// Header
.header{
    height: 4rem;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 2rem;
}
.header__logo{
    display: flex;
    align-items: center;
}
.logo{
    height: 2rem;
}