@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: normal;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #9ca2a8;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #9ca2a8;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 2;
}

strong {
  color: #363636;
  font-weight: 600;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #363636;
  font-weight: 600;
}

h4, span {
  font-size: 0.9rem;
}

a {
  font-weight: 600;
}

.wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.header {
  height: 4rem;
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-gap: 2rem;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 2rem;
}

.main {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-gap: 2rem;
  margin-top: 2rem;
}

.menu {
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
}

.menu__search {
  display: flex;
  align-items: center;
}

.menu__form {
  position: relative;
}
.menu__form input {
  border: none;
  border: 1px solid #9ca2a8;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  color: #9ca2a8;
}
.menu__form .icon, .menu__form .icon-dos {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 0 0 0.5rem;
}
.menu__form .icon-dos {
  right: 0;
  padding: 0 0.5rem 0 0;
  cursor: pointer;
}

.menu__notification {
  display: flex;
  align-items: center;
}
.menu__notification div {
  margin-left: 2rem;
}
.menu__notification .fi-email, .menu__notification .fi-heart-alt {
  font-size: 1.5rem;
}

.menu__post {
  background-color: #ff4e6a;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: normal;
}
.menu__post i {
  margin-right: 0.5rem;
  color: inherit;
}

.menu__perfil img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.follow__perfil {
  margin-bottom: 5rem;
}

.follow__img {
  width: 35%;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #ff4e6a;
  padding: 0.3rem;
}

.follow__date {
  text-align: center;
}

.follow__activity {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.menu-nav li {
  margin-top: 2rem;
}
.menu-nav li i {
  padding-right: 1rem;
}
.menu-nav a:hover {
  color: #ff4e6a;
}

.stories__title {
  margin: 0;
  margin-bottom: 1.5rem;
}

.stories__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.stories__image {
  border-radius: 0.5rem;
}

.stories__box {
  position: relative;
  cursor: pointer;
}
.stories__box::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 12%;
  width: 80%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.feed__header ul {
  display: flex;
}
.feed__header ul li {
  margin-left: 1rem;
  cursor: pointer;
}
.feed__header ul li:hover {
  color: #ff4e6a;
}

.feed__title {
  margin: 0;
}

.feed__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}

.feed__image {
  border-radius: 0.5rem;
}

.feed__box {
  position: relative;
}
.feed__box::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 10%;
  width: 80%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.perfil div {
  margin-bottom: 2rem;
}
.perfil div:last-child {
  margin: 0;
}

.perfil__activity {
  display: flex;
}
.perfil__activity p {
  margin-right: 1rem;
}
.perfil__activity p:last-child {
  margin: 0;
}
.perfil__activity strong {
  margin-right: 0.3rem;
}

.perfil__img {
  border-radius: 0.5rem;
}

.footer a {
  color: #ff4e6a;
}